@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .aside {
    display: none;
  }
  .about {
    &__wrapper {
      grid-template-columns: 400px auto;
      gap: 40px;
    }
    &__steck {
      grid-template-columns: 240px 240px;
      column-gap: 30px;
    }
  }
  .resume {
    &__wrapper {
      padding: 60px 10px 0 10px;
      column-gap: 100px;
    }
  }
  .steck {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 270px);
      gap: 20px;
      justify-content: center;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(2, 280px);
      justify-content: center;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 350px auto;
      gap: 30px;
    }
    &__steck {
      grid-template-columns: 340px;
    }
  }
  .resume {
    padding-top: 100px;
    &__wrapper {
      grid-template-columns: repeat(2, 340px);
      padding-top: 60px 10px 0 10px;
      column-gap: 20px;
    }
  }
  .steck {
    padding-top: 100px;
  }
  .portfolio {
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .promo {
    &__title {
      font-size: 36px;
      line-height: 45px;
      width: 400px;
    }
  }
  .about {
    padding-top: 100px;
    &__wrapper {
      grid-template-columns: 550px;
    }
    &__steck {
      grid-template-columns: 260px 260px;
      gap: 20px;
    }
  }
  .resume {
    padding-top: 100px;
    &__wrapper {
      grid-template-columns: 500px;
      padding-top: 60px 10px 0 10px;
    }
    &__column {
      &:last-child {
        margin-top: 60px;
      }
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(2, 265px);
      img {
        &:nth-child(3) {
          width: 535px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .promo {
    background: url(../img/main_bg.png) no-repeat 63% / cover;
    &__title {
      font-size: 26px;
      line-height: 39px;
      width: 290px;
    }
    &__buttons {
      margin-top: 35px;
    }
  }
  .menu {
    &__block {
      padding-left: 55px;
      width: 250px;
    }
    &__close {
      top: 20px;
      right: 20px;
    }
  }
  .about {
    padding-top: 40px;
    &__wrapper {
      grid-template-columns: auto;
      grid-template-rows: 300px;
    }
    &__photo {
      grid-row: unset;
    }
    &__steck {
      grid-template-columns: 260px;
    }
  }
  .resume {
    padding-top: 40px;
    &__wrapper {
      grid-template-columns: 30px;
      padding-top: 40px;
    }
    &__column {
      &:last-child {
        margin-top: 40px;
      }
      &__title {
        width: 250px;
      }
    }
    &__itom {
      &-header {
        width: 200px;
      }
      &-subheader {
        width: 200px;
      }
      &-description {
        width: 265px;
      }
    }
  }
  .steck {
    padding-top: 40px;
    &__wrapper {
      padding-top: 20px;
      margin-top: 0;
    }
  }
  .portfolio {
    &__wrapper {
      padding-top: 40px;
      grid-template-columns: 280px;
      gap: 20px;
      img {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  .title_fs36 {
    font-size: 24px;
    line-height: 36px;
  }
}
