@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .aside {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .promo {
    &__title {
      font-size: 36px;
      line-height: 45px;
      width: 400px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .promo {
    background: url(../img/main_bg.png) no-repeat 63% / cover;
    &__title {
      font-size: 26px;
      line-height: 39px;
      width: 290px;
    }
    &__buttons {
      margin-top: 35px;
    }
  }
  .menu {
    &__block {
      padding-left: 55px;
      width: 250px;
    }
    &__close {
      top: 20px;
      right: 20px;
    }
  }
}
